@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::selection {
  @apply bg-accent text-primary;
}

html {
  scroll-behavior: smooth;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
